html,
body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main .custom-span {
  margin-bottom: 1em;
}

.col {
  padding-bottom: 0.5rem;
}

form {
  padding-top: 0.5rem;
}


.form-group p {
  color: var(--dark-text-color);
  font-family: "Prompt", monospace;
  font-size: 1.1em;
  margin: 1em 0;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-button {
  background-color: #ba12aa;
  color: #fff;
}

.form-button:hover {
  background-color: #da32ca;
  color: #fff;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(123, 40, 174, 0.35);
  outline: none;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  text-align: center;
}

.location-container {
  display: flex;
  justify-content: center;
  gap: 0;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.form-container {
  margin-top: 7em;
  width: 100%;
}

#trimite {
  margin: 1em 0;
}

@media(max-width: 1300px) {
  main {
    height: 76vh !important;
  }
}

@media (max-width: 991px) {
  main {
    flex-direction: column;
  }

  .custom-span {
    margin: 0;
  }
}

/* Google maps embed */
.embed-map-responsive {
  position: relative;
  text-align: right;
  width: 100% !important;
  height: 0;
  padding-bottom: 70.5%;
  padding-right: 100%;
}

.embed-map-container {
  overflow: hidden;
  background: none !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.embed-map-frame {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}